<?xml version="1.0" encoding="UTF-8"?>
<configuration status="INFO">
    <appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} [%L] %msg%n" />
        </Console>
        <RollingFile name="rollingfile" fileName="${spark.yarn.app.container.log.dir}/logs/SparkBucketJoin.log"
                     filePattern="${spark.yarn.app.container.log.dir}/logs/${date:yyyy-MM}/SparkBucketJoin-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} [%L] %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
        </RollingFile>
    </appenders>
    <loggers>
        <root level="info">
            <appender-ref ref="console" />
            <appender-ref ref="rollingfile" />
        </root>
    </loggers>
</configuration>